<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4>Stats by Year</h4>
		<form action="" ng-submit="submit()">
			<div class="form-group">
				<label for="country">Country</label>
				<input type="text" class="form-control" ng-model="country" placeholder="india" required>
				<label for="year">2014</label>
				<input type="text" class="form-control" ng-model="year" placeholder="year" required>
			</div>
			<input type="submit" name="" class="btn btn-primary" value="Get stats">
		</form>
	</div>
</div>